In [3]:
import os
from tqdm import tqdm 
import pandas as pd

In [5]:
stops=pd.read_csv('/kaggle/input/porcodiooo/stops.csv')

In [13]:
stops

       Unnamed: 0      IMO   LONGITUDE   LATITUDE  DURATION
0               0  9682978   68.875000  22.468750        29
1              39  9682978   69.937500  22.671875        38
2              78  9682978   69.875000  22.625000        29
3             660  9682978    1.348633   6.089844         2
4             664  9682978    1.283203   6.039062        91
...           ...      ...         ...        ...       ...
23223        8669  9705641  164.000000  25.015625         2
23224        8718  9705641  151.125000  28.119792         2
23225        8737  9705641  145.750000  29.015625         4
23226        8744  9705641  145.250000  28.921875         2
23227        8747  9705641  145.125000  28.937500         2

[23228 rows x 5 columns]

In [15]:
import numpy as np
from sklearn.cluster import DBSCAN
from sklearn.preprocessing import StandardScaler

stops = pd.read_csv('/kaggle/input/porcodiooo/stops.csv')
cluster_results = []

# Esegui il clustering separatamente per ciascuna nave
for imo, group in stops.groupby('IMO'):
    X = group[['LONGITUDE', 'LATITUDE', 'DURATION']]
    
    # Normalizza i dati
    scaler = StandardScaler()
    X_scaled = scaler.fit_transform(X)
    
    # Applica DBSCAN per il gruppo corrente (nave)
    dbscan = DBSCAN(eps=2/6371., min_samples=5, algorithm='ball_tree', metric='haversine').fit(np.radians(coordinates))  # Puoi ottimizzare eps e min_samples
    clusters = dbscan.fit_predict(X_scaled)
    
    # Aggiungi i risultati del clustering al gruppo
    group['cluster'] = clusters
    
    # Aggiungi i risultati alla lista finale
    cluster_results.append(group)

# Unisci tutti i risultati in un unico DataFrame
final_clusters = pd.concat(cluster_results)

# Visualizza i risultati del clustering
print(final_clusters[['IMO', 'LONGITUDE', 'LATITUDE', 'DURATION', 'cluster']].head())

NameError: name 'coordinates' is not defined

In [17]:
import numpy as np
import pandas as pd
from sklearn.cluster import DBSCAN
from sklearn.preprocessing import StandardScaler

# Carica il dataset
stops = pd.read_csv('/kaggle/input/porcodiooo/stops.csv')

cluster_results = []

# Esegui il clustering separatamente per ciascuna nave
for imo, group in stops.groupby('IMO'):
    # Seleziona le colonne di interesse
    X = group[['LONGITUDE', 'LATITUDE', 'DURATION']].copy()

    # Converti LONGITUDE e LATITUDE in radianti
    X['LONGITUDE'] = np.radians(X['LONGITUDE'])
    X['LATITUDE'] = np.radians(X['LATITUDE'])

    # Normalizza i dati
    scaler = StandardScaler()
    X_scaled = scaler.fit_transform(X)

    # Applica DBSCAN per il gruppo corrente (nave)
    dbscan = DBSCAN(eps=0.5, min_samples=5, algorithm='ball_tree', metric='haversine')  # Puoi ottimizzare eps e min_samples
    clusters = dbscan.fit_predict(X_scaled[:, :2])  # Usa solo LONGITUDE e LATITUDE per il clustering

    # Aggiungi i risultati del clustering al gruppo
    group['cluster'] = clusters
    
    # Aggiungi i risultati alla lista finale
    cluster_results.append(group)

# Unisci tutti i risultati in un unico DataFrame
final_clusters = pd.concat(cluster_results)

# Visualizza i risultati del clustering
print(final_clusters[['IMO', 'LONGITUDE', 'LATITUDE', 'DURATION', 'cluster']].head())

          IMO  LONGITUDE   LATITUDE  DURATION  cluster
4748  8100595  54.625000  24.890625        18       -1
4749  8100595  32.531250  29.921875        14       -1
4750  8100595  24.870313  34.909375        63        0
4751  8100595  18.375000  36.006250         9        0
4752  8100595  17.513021  36.161458         5        0

In [13]:
print(final_clusters[final_clusters['cluster']==19])

       Unnamed: 0      IMO  LONGITUDE  LATITUDE  DURATION  cluster
13962        2981  9188221   4.117188  51.96875         4       19
14036        4277  9188221   4.117188  51.96875         4       19
14052        4517  9188221   4.117188  51.96875         4       19
14092        5189  9188221   4.117188  51.96875         4       19
14272        8214  9188221   4.117188  51.96875         4       19